html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.main {
  flex: 1;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.subtext {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.containerr {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.box {
  border-radius: 20px;
  height: 85px;
  width: 85px;
  background-color: #fff;
  background-image: radial-gradient(at top left, #f0ace0, transparent),
    radial-gradient(at top right, #ffa4b2, transparent),
    radial-gradient(at bottom left, #a7d3f2, transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 30px;
  font-family: sans-serif;
  opacity: 0.6;
  transition: 0.3s;
}

.box:hover {
  opacity: 1;
}

.uniimg {
  max-width: 3rem;
  border: 1px lined;
}
.discimg {
  max-width: 2.5rem;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    max-width: 100vw;
  }
}
